<app-add-workflow (OnWorkflowAdded)="getWorkflows()"> </app-add-workflow>
<hr />
<div class="w-75 d-flex flex-column mx-auto">
  <div class="card my-1" *ngFor="let workflow of workflows">
    <div class="card-body">
      <div class="row">
        <div class="col-9">
          <h5 class="card-title">{{ workflow.workflowName }}</h5>
          <p class="card-text">{{ workflow.rules.length }} Rules</p>
        </div>
        <div class="col-3 d-flex align-items-center">
          <div class="btn-group btn-group-sm w-100" role="group">
            <a class="btn btn-outline-primary" [routerLink]="workflow.id"
              >View</a
            >
            <button type="button" class="btn btn-outline-danger" (click)="onRemove(workflow)">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex mt-4 justify-content-center">
    <ngb-pagination
      *ngIf="dataCount !== 0"
      [collectionSize]="dataCount"
      [(page)]="pageNumber"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
    ></ngb-pagination>
  </div>
</div>
